<web-app>
   <servlet>
      <display-name>Wren Project 2</display-name>
      <servlet-name>cards.ApplicationConfig</servlet-name>
      <init-param>
         <param-name>javax.ws.rs.ApplicationConfig</param-name>
         <param-value>cards.ApplicationConfig</param-value>
      </init-param>
   </servlet>
</web-app>